@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

//Background colours
$df-primary: #03A9F4;
$df-primary-light: #B3E5FC;
$df-primary-dark: #0288D1;
$df-white: #FFFFFF; //text

//Accent Colours
$df-accent: #9E9E9E;
$df-primary-text: #212121;
$df-secondary-text: #757575;
$df-divider-colour: #BDBDBD;

$family-sans-serif: "Nunito", sans-serif;

//Overwrite Bulma Variables
$primary: $df-primary;
$info: $df-primary-light;
$link: $df-primary-dark;
$light: $df-accent;
$dark: $df-primary-text;
$navbar-item-img-max-height: 3rem;
//$navbar-background-color: $df-primary-dark;
// Import only what you need from Bulma
 @import "node_modules/bulma/sass/utilities/_all.sass";
 @import "node_modules/bulma/sass/base/_all.sass";
 @import "node_modules/bulma/sass/elements/button.sass";
 @import "node_modules/bulma/sass/elements/container.sass";
 @import "node_modules/bulma/sass/elements/form.sass";
 @import "node_modules/bulma/sass/elements/title.sass";
 @import "node_modules/bulma/sass/components/navbar.sass";
 @import "node_modules/bulma/sass/components/level.sass";
 @import "node_modules/bulma/sass/layout/hero.sass";
 @import "node_modules/bulma/sass/layout/section.sass";
 @import "node_modules/bulma/sass/grid/columns.sass";
 @import "node_modules/bulma/sass/grid/tiles.sass";
 @import "node_modules/bulma/sass/components/list.sass";

.navbar {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%
}
//
//.has-background-primary-dark{
//  background-color: $df-primary-dark;
//}