<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"/>

</head>
	<body>
		<!-- Header-->
		<section class="hero is-danger">
			<div class="hero-body">
				<div class="columns">
					<div class="column">
					</div>
					<div class="column is-three-quarters">
						<div align="center" class="container">			
							<h1 align="center" class="hero title"> Sign Up to LovePics</h1>
						</div>
					</div>
					<div class="column">
					</div>
				</div>
			</div>
		</section>

		<!-- Body-->
		<section class="hero is-success">		
			<div class="hero-body is-full-height">
				<div class="columns"> 

					<div class="column is-one-quarter">
						
					</div>
					<!-- Centeral section-->
					<div class="column is-one-half">
						<!--/*@thymesVar id="user" type="model.User"*/-->
						<form method="POST" th:action="@{/sign-up}" th:object="${user}">
						<div class="field">
							<label class="label">Name</label>
							<div class="control">
								<input class="input" th:field="*{email}" type="text" placeholder="Email"/>
								<input class="input" th:field="*{password}" type="text" placeholder="Password"/>
								<input type="submit"/>
							</div>
						</div>
						</form>
					</div>
					<div class="column is-one-quarter">
					</div>
				</div>
			</div>
		</section>
		<footer class="footer is-danger">

			<div class="container has-text-centered">
				<p>
				DBD Inc.
				&#169; 2018+
				</p>	

			</div>
		</footer>

	</body>




</html>

